<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="css/app.css">
</head>
<body>
	<h1>Home Page<h1>

 <div id="nav-container" href="">
    
    
      <a href="/home">Home</a> |  <a href="/">Games</a> | <a href="/genres">Genres</a> | <a href="/companies">Companies</a>
	| <a href="/customers">Customers</a> | <a href="/transactions">Transactions</a> | <a href="/transaction_details">Transaction Details</a>
	| <a href="/companies_and_games">Companies and Games</a>]


</div>

<p>Welcome to ENGR STORE database! Please select a page to visit.</p>
